Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add Microsoft apt repository for Relay?
 The installer would like to add the Microsoft repository and signing
 key to update Relay through apt.
